<div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form @submit="login" @input="errorMessage = ''" novalidate>
                    <h1>Вход</h1>
                    <div class="alert alert-danger" v-if="errorMessage">{{errorMessage}}</div>
                    <div :class="{'has-error': errors.has('username')}">
                        <input v-model="username" v-validate="'required|email'" name="username" data-vv-as="Логин" type="text" class="form-control" placeholder="Логин (e-mail)" />
                        <p class="help-block" v-if="errors.has('username')">
                            {{errors.first('username')}}
                        </p>
                    </div>
                    <div :class="{'has-error': errors.has('password')}">
                        <input v-model="password" v-validate="'required'" name="password" data-vv-as="Пароль" type="password" class="form-control" placeholder="Пароль" />
                        <p class="help-block" v-if="errors.has('password')">
                            {{errors.first('password')}}
                        </p>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-default submit">Войти</button>
                        <a class="reset_pass" href="#">Забыли пароль?</a>
                    </div>

                    <div class="clearfix"></div>
                </form>
            </section>
        </div>
    </div>
</div>
