<div>
    <div class="login_wrapper">
        <div class="form login_form">
            <section class="login_content">
                <loader v-bind:visible="awaitOfSubmit"></loader>
                <form @submit="changePassword" @input="errorMessage = ''" novalidate>
                    <h1>Изменение пароля</h1>
                    <div v-if="!success">
                        <div class="alert alert-danger" v-if="errorMessage">{{errorMessage}}</div>
                        <div :class="{'has-error': errors.has('password')}">
                            <input v-model="password" v-validate="'required'" name="password" data-vv-as="Введите новый пароль" type="password" class="form-control" placeholder="Новый пароль" />
                            <p class="help-block" v-if="errors.has('password')">
                                {{errors.first('password')}}
                            </p>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-default submit">Изменить пароль</button>
                        </div>
                    </div>
                    <div v-if="success">
                        <p><strong>Пароль успешно изменен.</strong></p>
                        <p>
                            Теперь вы можете&nbsp;
                            <router-link :to="{'name': 'login'}">войти</router-link>&nbsp;
                            в свой личный кабинет.
                        </p>
                    </div>

                    <div class="clearfix"></div>
                </form>
            </section>
        </div>
    </div>
</div>
