<div>
    <div class="col-xs-12" :class="{'col-md-4 col-sm-4': viewForm}">
        <div class="x_panel">
            <div class="x_title">
                <h2>Список помещений</h2>
                <ul class="navbar-right panel_toolbox">
                    <li>
                        <button @click="openForm(null)" type="button" class="collapse-link btn btn-primary">
                            <i class="fa fa-plus"></i>
                            Добавить
                        </button>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table ref="table" class="table table-striped projects">
                    <tbody>
                    <tr v-for="room in list" style="cursor: pointer;" @click.prevent="openForm(room)">
                        <td>
                            <strong>{{room.title}}</strong><br />
                            {{room.address}}
                        </td>
                    </tr>
                    <tr v-if="list.length == 0">
                        <td class="empty-table-row">
                            <p>Отсутствуют помещения для отображения</p>
                            <button @click="openForm(null)" type="button" class="btn btn-primary">
                                <i class="fa fa-plus"></i>
                                Добавить
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-8 col-sm-8" v-if="viewForm">
        <room-form :input-room="currentItem" @cancel="viewForm = false" @created="roomCreated" @updated="roomUpdated"></room-form>
    </div>
    <div class="clearfix"></div>
</div>
