<div>
    <table class="table date-pick-table">
        <thead>
            <tr>
                <th class="date-pick-table-toggle-month" @click="toggleMonth(-1)"><i class="fa fa-angle-left"></i></th>
                <th class="date-pick-table-month" colspan="5">{{currentMonthLabel}}, {{currentYear}}</th>
                <th class="date-pick-table-toggle-month" @click="toggleMonth(1)"><i class="fa fa-angle-right"></i></th>
                <th>Выбранные даты&nbsp;<template v-if="marked.length > 0">({{marked.length}})</template></th>
            </tr>
            <tr>
                <th v-for="(day, index) in dayOfWeeks" class="date-pick-table-weekday" :class="{'date-pick-weekend': index > 4}">{{day}}</th>
                <th></th>
            </tr>
        </thead>
        <tr v-for="(week, index) in monthDays">
            <td v-for="day in week" @click.prevent="clickDay(day)" class="date-pick-table-day" :class="{'other': day.month() != currentMonth, 'marked': dayIsMarked(day), 'date-pick-weekend': day.day() == 0 || day.day() == 6}">
                <strong v-if="day.format('YYYYMMDD') == today.format('YYYYMMDD')">{{day.date()}}</strong>
                <span v-else>{{day.date()}}</span>
            </td>
            <td :rowspan="monthDays.length" class="date-pick-table-selected" v-if="index == 0">
                <div :style="{'max-height': (40 * monthDays.length) + 'px'}" class="dates-wrapper" style="overflow-y: scroll;">
                    <div class="item" v-for="item in marked">
                        {{getDateFormatted(item)}}
                        <a href="#" @click.prevent="unmarkDay(item)" class="remove"><i class="fa fa-remove"></i></a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
