<div v-if="service">
    <div v-if="!serviceIsActivated" class="x_panel">
        <div class="x_title">
            <h2>{{service.title}}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <p v-html="service.description"></p>

            <form @submit.prevent="activateService">
                <div class="form-group col-md-6 col-xs-12" v-if="serviceHasTariff" :class="{'has-error': errors.has('selectedTariff')}">
                    <label>Выберите тариф</label>
                    <select class="form-control" name="selectedTariff" v-model="selectedTariff" v-validate="'required'">
                        <option></option>
                        <option v-for="tariff in service.tariff" :value="tariff.id">
                            {{tariff.title}} ({{tariff.monthlyCost}} руб./мес.)
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-2 col-xs-12">
                    <label>&nbsp;&nbsp;</label>
                    <button type="submit" v-if="!serviceHasTariff" class="btn btn-primary">Воспользоваться услугой</button>
                    <button type="submit" v-if="serviceHasTariff" class="form-control btn btn-success">Подключить услугу</button>
                </div>
            </form>
        </div>
    </div>
    <div v-if="serviceIsActivated" class="x_panel">
        <template v-if="ticketCategory" v-need-role="'customer'">
            <div class="x_title">
                <div class="pull-left x_title_button">
                    <h2>Открытые заявки</h2>
                </div>
                <div class="pull-left x_title_button" v-need-user-type="'customer'">
                    <a href="#" @click.prevent="toggledTicketForm = !toggledTicketForm" class="collapse-link btn btn-primary">
                        <i class="fa" :class="{'fa-toggle-down': !toggledTicketForm, 'fa-toggle-up': toggledTicketForm}"></i>
                        Новая заявка
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" v-if="toggledTicketForm">
                <ticket-form :category="ticketCategory" @saved="ticketSaved" @cancel="toggledTicketForm = false"></ticket-form>
            </div>
            <div class="x_content">
                <ticket-table :service="service" :category="ticketCategory"></ticket-table>
            </div>
        </template>
        <div class="x_title">
            <a href="#" @click.prevent="toggleDescription">
                <h2>
                    Описание услуги <template v-if="serviceHasTariff"> / Сменить тариф</template>
                </h2>
            </a>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <p v-html="service.description" ref="description" style="display: none;"></p>
        </div>
    </div>
</div>
