<div v-if="service">
    <div v-if="!serviceIsActivated" class="x_panel">
        <div class="x_title">
            <h2>{{service.title}}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <p v-html="service.description"></p>

            <div v-if="!serviceHasTariff">
                <button type="button" class="btn btn-primary" @click="activateService">Воспользоваться услугой</button>
            </div>
        </div>
    </div>
    <div v-if="serviceIsActivated" class="x_panel">
        <template v-if="ticketCategory" v-need-role="'customer'">
            <div class="x_title">
                <div class="pull-left x_title_button">
                    <h2>Открытые заявки</h2>
                </div>
                <div class="pull-left x_title_button" v-need-user-type="'customer'">
                    <router-link :to="createTicketRoute" :class="{'collapse-link btn btn-primary': true}">
                        <i class="fa fa-plus"></i>
                        Новая заявка
                    </router-link>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <tickets-table :service="service" :category="ticketCategory"></tickets-table>
            </div>
        </template>
        <div class="x_title">
            <a href="#" @click.prevent="toggleDescription">
                <h2>
                    Описание услуги <template v-if="serviceHasTariff"> / Сменить тариф</template>
                </h2>
            </a>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <p v-html="service.description" ref="description" style="display: none;"></p>
        </div>
    </div>
</div>
