Здравствуйте, {{  user.name }}!<br />
<br />
От вас поступил запрос на изменение пароля. Для изменения пароля пройдите по ссылке:<br />
<br />
<a href="{{ absolute_url('/change-password/' ~ checker.id ~ '/' ~ checker.code) }}">{{ absolute_url('/change-password/' ~ checker.id ~ '/' ~ checker.code) }}</a><br />
<br />
Если вы не запрашивали изменение пароля, просто проигнорируйте это письмо.
