<div class="col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Список помещений</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table ref="table" class="table table-striped projects">
                <tbody>
                <tr v-for="room in list" style="cursor: pointer;">
                    <td>
                        <strong>{{room.title}}</strong><br />
                        {{room.address}}
                    </td>
                    <td style="text-align: right;">
                        <router-link :to="{name: 'cabinet_room_calendar', params: {id: room.id}}">
                            <i class="fa fa-calendar"></i> Календарь
                        </router-link>
                    </td>
                </tr>
                <tr v-if="list.length == 0">
                    <td class="empty-table-row" colspan="2">
                        <p>Отсутствуют помещения для отображения</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
