<div class="animate form remember_password_form">
    <section class="login_content">
        <loader v-bind:visible="awaitOfSubmit"></loader>
        <form @submit="remember" @input="errorMessage = ''" novalidate>
            <h1>Забыли пароль?</h1>
            <div v-if="!success">
                <div><p>Для восстановления пароля введите свой e-mail:</p></div>
                <div class="alert alert-danger" v-if="errorMessage">{{errorMessage}}</div>
                <div :class="{'has-error': errors.has('email')}">
                    <input type="text" class="form-control" name="email" v-model="email" data-vv-as="E-mail" v-validate="'required|email'" placeholder="Ваш e-mail" />
                    <p class="help-block" v-if="errors.has('email')">
                        {{errors.first('email')}}
                    </p>
                </div>
                <div>
                    <button class="btn btn-default submit" type="submit">Отправить</button>
                </div>
            </div>
            <div v-if="success">
                <p>На ваш e-mail <strong>{{email}}</strong> отправлено письмо с инструкцией о восстановлении пароля.</p>
            </div>
        </form>

        <div class="clearfix"></div>

        <div class="separator">
            <p class="change_link">
                <a href="#signin" class="to_register">Вход</a>
            </p>

            <div class="clearfix"></div>
        </div>
    </section>
</div>
