<form @submit.prevent="submit" @input="errorMessage = ''">
    <div v-if="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
    <div class="col-sm-12">
        <div class="form-group" :class="{'has-error': errors.has('title')}">
            <label class="control-label">Заголовок</label>
            <input type="text" v-model="ticket.title" v-validate="'required|max:200'" name="title" class="form-control" />
            <p class="help-block" v-if="errors.has('title')">
                {{errors.first('title')}}
            </p>
        </div>
        <div class="form-group" :class="{'has-error': errors.has('text')}">
            <label class="control-label">Содержание</label>
            <textarea rows="10" v-model="ticket.text" class="form-control" v-validate="'required|max:1000'" name="text"></textarea>
            <p class="help-block" v-if="errors.has('text')">
                {{errors.first('text')}}
            </p>
        </div>
        <div class="form-group">
            <button type="submit" :disabled="awaitOfSubmit" class="btn btn-success">Отправить заявку</button>
            <a href="#" @click.prevent="cancel" class="btn btn-default">Отмена</a>
        </div>
    </div>
</form>
