<div>
    <div class="x_panel">
        <div class="x_title">
            <h2 v-if="ticket">{{category ? category.name : ''}} #{{ticket.number}}</h2>
            <ul class="navbar-right panel_toolbox">
                <li>
                    <router-link v-need-user-type="'customer'" :to="{name: 'cabinet_ticket_list', params: {category: category ? category.id : ''}}">
                        <small>Обратно в список заявок</small>
                    </router-link>
                    <router-link v-need-user-type="'manager'" :to="{name: 'manager_ticket_list', params: {category: category ? category.id : ''}}">
                        <small>Обратно в список заявок</small>
                    </router-link>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-sm-12" v-if="ticket">
                <p><span :class="ticket.currentStatus | ticketStatusColor">{{ticket.currentStatus | ticketStatus}}</span> {{ticket.title}}</p>
                <ul class="messages">
                    <li v-for="item in history">
                        <!-- TODO: автары пока не готовы -->
                        <img src="images/img.jpg" class="avatar" alt="Avatar">
                        <div class="message_wrapper">
                            <h5 class="heading" v-if="item.item.createdBy">{{item.item.createdBy.name}} <small>{{item.item.createdAt | dateFormat('D MMM в HH:mm')}}</small></h5>
                            <blockquote class="message" v-if="item.type == 'message'">{{item.item.text}}</blockquote>
                            <blockquote class="message" v-if="item.type == 'status'">
                                <span :class="item.item.status | ticketStatusColor">{{item.item.status | ticketStatus}}</span>
                            </blockquote>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <x-panel ref="message-panel" :title="'Оставить сообщение / Закрыть заявку'" :toggled="false" @on-toggled="showMessageForm = $event">
        <div slot>
            <message-form v-if="showMessageForm" @ticket-changed="updateData" :category="category" :ticket="ticket"></message-form>
        </div>
    </x-panel>
</div>
