<div>
    <div class="x_panel">
        <div class="x_title">
            <h2>Открытые заявки</h2>
            <ul class="navbar-right panel_toolbox">
                <li>
                    <dropdown display-prop="name" :item="category" :items="categories" @select="selectCategory"></dropdown>
                </li>
                <li>
                    <router-link v-need-user-type="'customer'" :to="{name: 'cabinet_ticket_create', params: {category: category ? category.id : ''}}" :class="{'collapse-link btn btn-primary': true}">
                        <i class="fa fa-plus"></i>
                        Создать новую заявку
                    </router-link>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table ref="table" class="table table-striped projects">
                    <thead>
                    <tr>
                        <th style="width: 200px">#</th>
                        <th>Заявка</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-for="ticket in list" style="cursor: pointer;" @click="openTicket(ticket)">
                        <td>
                            {{ticket.number}}<br />
                            <small v-bind:class="ticket.currentStatus | ticketStatusColor">
                                {{ticket.currentStatus | ticketStatus}}
                            </small>
                        </td>
                        <td>
                            <small>{{ticket.createdAt | dateFormat}}</small>
                            <h4>{{ticket.title}}</h4>
                            <a>
                                <i class="fa fa-user"></i>
                                <small v-if="ticket.createdBy && !ticket.customer">
                                    {{ticket.createdBy.name}}
                                </small>
                                <small v-else-if="ticket.customer && ticket.createdBy">
                                    {{ticket.createdBy.name}} ({{ticket.customer.name}})
                                </small>
                                <small v-else-if="ticket.customer">
                                    {{ticket.customer.name}}
                                </small>
                            </a><br />
                            <strong>Назначен ответственный:</strong> {{ticket.managedBy ? ticket.managedBy.name : '(нет)'}}
                        </td>
                    </tr>
                    <tr v-if="list.length == 0">
                        <td colspan="2" class="empty-table-row">
                            <p>Нет открытых заявок в данной категории.</p>
                            <router-link :to="{name: 'cabinet_ticket_create', params: {category: category ? category.id : ''}}" :class="{'btn btn-primary': true}" v-need-user-type="'customer'">Создать новую заявку</router-link>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
