<div>
    <div class="x_panel">
        <div class="x_title">
            <div class="pull-left x_title_button">
                <dropdown display-prop="name" :item="category" :items="categories" @select="selectCategory"></dropdown>
            </div>
            <div class="pull-left x_title_button" v-need-user-type="'customer'">
                <router-link :to="createRoute" :class="{'collapse-link btn btn-primary': true}">
                    <i class="fa fa-plus"></i>
                    Новая заявка
                </router-link>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table ref="table" class="table table-striped projects">
                    <thead>
                    <tr>
                        <th>Заявка</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-for="ticket in list" style="cursor: pointer;" @click="openTicket(ticket)">
                        <td>
                            <small>{{ticket.createdAt | dateFormat}}</small>
                            <h4>
                                {{ticket.number}}
                                <small v-bind:class="ticket.currentStatus | ticketStatusColor">
                                    {{ticket.currentStatus | ticketStatus}}
                                </small>
                            </h4>
                            <small>{{ticket.title}}</small>
                            <a>
                                <i class="fa fa-user"></i>
                                <small v-if="ticket.createdBy && !ticket.customer">
                                    {{ticket.createdBy.name}}
                                </small>
                                <small v-else-if="ticket.customer && ticket.createdBy">
                                    {{ticket.createdBy.name}} ({{ticket.customer.name}})
                                </small>
                                <small v-else-if="ticket.customer">
                                    {{ticket.customer.name}}
                                </small>
                            </a><br />
                            <strong>Назначен ответственный:</strong> {{ticket.managedBy ? ticket.managedBy.name : '(нет)'}}
                        </td>
                    </tr>
                    <tr v-if="list.length == 0">
                        <td colspan="2" class="empty-table-row">
                            <p>Нет открытых заявок в данной категории.</p>
                            <router-link :to="createRoute" :class="{'btn btn-primary': true}" v-need-user-type="'customer'">Новая заявка</router-link>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
