<div>
    <div class="x_panel">
        <div class="x_title">
            <h2>Список арендаторов</h2>
            <ul class="navbar-right panel_toolbox">
                <li>
                    <a @click.prevent="openDialog(null)" class="collapse-link btn btn-primary">
                        <i class="fa fa-plus"></i>
                        Добавить
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table ref="table" class="table table-striped projects">
                    <thead>
                    <tr>
                        <th>Название</th>
                        <th>Договор</th>
                        <th>Количество пользователей</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-for="customer in list" style="cursor: pointer;" @click="openDialog(customer)">
                        <td>{{customer.name}}</td>
                        <td>{{customer.currentAgreement}}</td>
                        <td>0</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <modal-window ref="modal-window" @hide="viewForm = false; currentCustomer = null;" :title="currentCustomer ? 'Редактирование арендатора' : 'Создание арендатора'">
        <div slot="body" v-if="viewForm">
            <customer-form :customer="currentCustomer" @customer:remove="removedCustomer" @customer:new="newCustomer" @customer:updated="updatedCustomer"></customer-form>
        </div>
    </modal-window>
</div>
