<div class="container body" v-if="userData && isAuth">
    <div class="main_container">
        <div ref="left-col" class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <router-link :to="{'name': 'dashboard'}" :class="{'site_title': true}">
                        <span>Интранет</span>
                    </router-link>
                </div>

                <div class="clearfix"></div>

                <!-- sidebar menu -->
                <div class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu">
                            <router-link
                                v-for="(menuItem, index) in sideBarMenu"
                                :key="index"
                                tag="li"
                                :to="menuItem.route"
                                v-need-role="menuItem.role"
                                active-class="active"
                            >
                                <a><i :class="'fa ' + menuItem.faIcon"></i> {{menuItem.menuName}}</a>
                                <ul class="nav child_menu" v-if="menuItem.children && menuItem.children.length">
                                    <router-link
                                        v-for="(childItem, childIndex) in menuItem.children"
                                        :key="'child' + index + '-' + childIndex"
                                        tag="li"
                                        :to="childItem.route"
                                        v-need-role="childItem.role"
                                        active-class="current-page"
                                    >
                                        <a>{{childItem.menuName}}</a>
                                    </router-link>
                                </ul>
                            </router-link>
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" @click="logout" data-placement="top" title="Logout">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav class="" role="navigation">
                    <div class="nav toggle">
                        <a href="#" @click="toggleMenu"><i class="fa fa-bars"></i></a>
                    </div>

                    <div class="nav navbar-nav navbar-left" v-if="pageTitle">
                        <h3>{{pageTitle}}</h3>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="images/img.jpg" alt="">{{userData.name}}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:;"> Profile</a></li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li><a href="javascript:;">Help</a></li>
                                <li><a href="#" @click="logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>

                        <li v-if="notifications.length > 0" role="presentation" class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false" title="Просмотреть уведомления">
                                <i class="fa fa-envelope-o"></i>
                                <span class="badge bg-green" v-if="unreadNotifications > 0">{{unreadNotifications}}</span>
                            </a>
                            <div class="dropdown-menu list-unstyled msg_list" role="menu" v-custom-scrollbar="readAllNotifications">
                                <div v-for="item in notifications" class="list-item">
                                    <div class="item">
                                        <div class="image"><img src="images/img.jpg" alt="Profile Image" /></div>
                                        <div v-if="item.author">{{item.author.name}}</div>
                                        <div class="message">
                                            <notification-message :notification="item"></notification-message>
                                        </div>
                                        <div class="time">{{item.createdAt | dateFormat()}}</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li v-if="notifications.length == 0" role="presentation" class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false" title="Новых уведомлений нет">
                                <i class="fa fa-envelope-o"></i>
                            </a>
                            <div class="dropdown-menu list-unstyled msg_list" role="menu">
                                <div class="list-item">
                                    <div class="item">
                                        <div class="message">
                                            Новых уведомлений нет
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div ref="right-col" class="right_col" role="main">
            <div>
                <div class="clearfix"></div>
                <router-view></router-view>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <!--<footer>-->
            <!--<div class="col-md-3 left_col pull-right">-->
                <!--&nbsp;-->
            <!--</div>-->
            <!--<div class="pull-right">-->
                <!--Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
        <!--</footer>-->
        <!-- /footer content -->
    </div>
</div>
